.login-page
  display flex
  justify-content center

.login-form
  width 500px
  border 1px solid #e5e5e5
  border-radius 5px
  margin-top 30px
  padding 25px 25px

.login-form-header
  padding 0 0 25px 7px

.login-buttons
  padding 30px 0 5px 0
  display flex
  justify-content space-between
  div
    margin 0 !important
    width 240px
